body::-moz-scrollbar {
    width: 0.5rem;
    background: var(--w-color);
  }
  
  body::-webkit-scrollbar {
      width: 0.5rem;
      background: var(--w-color);
  }
  
  body::-webkit-scrollbar-track {
      border-radius: 10px;
      background: var(--w-color);
  }
  
  body::-moz-scrollbar-track {
      border-radius: 10px;
      background: var(--w-color);
  }
  
  body::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--s-color);
  }
  
  body::-moz-scrollbar-thumb {
      border-radius: 10px;
      background: var(--s-color);
  }
  html {
    line-height: 1.15;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: var(--black-color);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: var(--bgw-bgb-color);
    overflow-x: hidden !important;
}

a,
button {
    font-size: 0.875rem;
    color: var(--s-color);
    text-decoration: none;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

button:hover,
button:active,
button:focus,
a:hover,
a:active,
a:focus {
    color: var(--s-color);
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-stl-one);
    font-family: var(--font-secondary);
    // margin-top: 0;
    text-transform: capitalize;
}
h2, .h2 {
  margin-bottom: 15px;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.125rem;
  margin-bottom: 15px;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: 28px;
  color: var(--p-color);
}