.lm-passion{
    padding: 0px;
    height: 100vh;
    min-height: 250px;
    max-height: 470px;
    position: relative;
    background: url("../img/passion-bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    .sec-title{padding-bottom: 0px; z-index: 1; p,h2{color: var(--w-color);}}
    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: var(--black-color);
      opacity: 0.9;
    }
    
  }

  .lm-hm-talk{
    background: var(--main-bg-color);
    padding: 45px 0px;
    .container{
      max-width: 800px;
    }
    a{color:var(--strok-text); font-size: 20px; font-weight: 700;}
    h3{
      color: var(--strok-text);
      font-size: 3rem;
      text-transform: initial;
    }
  }

  .home_services {
    border-top: 2px solid;
    p {
      font-size: 25px;
      line-height: 35px;
    }
  }

  

  @media(max-width: 991px){
    .lm-passion{max-height: 400px;}
  }

  @media(max-width: 767px){
    .lm-passion{max-height: 350px;}
  }

  @media(max-width: 480px){
    .lm-passion{max-height: 300px;}
  }