.page-info{
    position: relative;
    height: 75vh;
    min-height: 350px;
    // background-image: linear-gradient( to right bottom, #000000cc, #0606074d );
    background-image: linear-gradient(to right bottom, #000000b0, #060607); 
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    
    .page-bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        .bg{
            height: 100%;
            background: no-repeat center / cover;
            &.about-us {
                background-image: url('../img/about/graipfrut-hero.jpg');
            }
            &.technology {
                background-image: url('../img/bg-main-title/about-bg.jpg');
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.8) 100%);
        }
    }
    .info{
        position: absolute;
            /* This will overlay .info on top of .page-bg */
            z-index: 10000;
        height: 100%;
        padding: 0px 15px;
        span {
            display: inline-block;
            text-transform: initial;
            } 
        h1{
            position: relative;
            font-size:4.5rem;
            font-weight: 700;
            letter-spacing: -0.2rem;
            color:var(--w-color);
            text-transform: capitalize;
            margin-bottom: 15px;
            &:after{
                content: "";
                position: absolute;
                width: 160px;
                left: 0;
                right: 0;
                bottom: -10px;
                height: 2px;
                background: var(--font-stl-two);
                margin: 0 auto;
            }
            
            }
            p{
                font-size: 1.12rem;
                font-weight: 400;
                color:var(--w-color);
                text-align: center;
            }
    }
}

@media(max-width: 1199px){
    .page-info{
        .info{
            h1{font-size: 5rem;}
        }
    }
}
 @media(max-width: 991px){
    .page-info{
        .info{
            h1{
                font-size: 3rem; letter-spacing: 0px;
                &:after{
                    width: 90px;
                }
            }
        }
    }
}
// @media(max-width: 767px){
//     .page-info {
//         .page-bg{
//             .bg{
//                 background-size: cover;
//             }
//     }
//     }
// }
@media(max-width: 575px){
    .page-info{
        .info{
            h1{font-size: 2.5rem; letter-spacing: 0px;}
            p{font-size: 1rem;}
        }
    }
}